@import url("https://fonts.googleapis.com/css2?family=Nova+Square&family=Raleway&family=Rubik&display=swap");

.headerMain {
  display: flex;
  justify-content: space-between;
  /* padding: 30px; */
  padding-top: 30px;
  padding-bottom: 30px;
}

.header_left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img {
  display: block;
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.azBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 30px;
  height: 30px;
  background-color: #eae6df;
  color: #2d2d2b;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  font-family: "Raleway";
  border-radius: 5px;
  border: 1px solid #d4c8be;
}

.search_btn {
  width: 22px;
  height: 22px;
  background-color: #eae6df;
  margin-left: 37px;
}

.header_title {
  color: #2d2d2b;
  text-align: center;
  font-family: "Didot";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}

.header_right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shop_user_button {
  width: 24px;
  height: 24px;
  background-color: #eae6df;
  margin-left: 30px;
}

.header_nav {
  display: flex;
  justify-content: center;
}
.header_nav_list {
  display: flex;
  justify-content: space-between;
  gap: 70px;
  flex-wrap: wrap;
}

.link {
  color: #2d2d2b;
  font-family: "Raleway";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  list-style: none;
  text-decoration: none;
}

.link:hover {
  font-weight: 600;
}

.active::after {
  content: "";
  height: 1px;
  display: block;
  stroke-width: 1px;
  border-bottom: 1px black solid;
  padding-bottom: 10px;
}

.home_link {
  text-decoration: none;
}

.search_back_view_body {
  height: 100px;
  background-color: #eae6df;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search_back_view_body > div {
  display: flex;
  align-items: center;
  margin-left: 30px;
  gap: 20px;
  width: 1300px;
}

.search_back_view_body > div > div {
  width: 22px;
  height: 22px;
}

.search_back_view_body > div > form {
  width: 100%;
}
.search_back_view_body > div > form > input {
  color: #2d2d2b;
  font-family: "Raleway";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  list-style: none;
  text-decoration: none;
  height: 80px;
  width: 100%;
  border: none;
  background-color: #eae6df;
}

.search_back_view_body > button {
  width: 26px;
  height: 26px;
  background-color: #eae6df;
}

@media (max-width: 320px) {
}
