@import url("https://fonts.googleapis.com/css2?family=GFS+Didot&family=Nova+Square&family=Raleway&family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nova+Square&family=Raleway&family=Rubik&display=swap");

.body {
  margin-top: 128px;
}

.title_body {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 60px;
}

.title_body > h2 {
  font-family: "Didot";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
}

.see_all {
  color: #b8926a;
  font-family: "Raleway";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  text-decoration: none;
  text-decoration-line: underline;
}

.grid_body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(20rem, 100%), 1fr));
}
