@import url("https://fonts.googleapis.com/css2?family=GFS+Didot&family=Nova+Square&family=Raleway&family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nova+Square&family=Raleway&family=Rubik&display=swap");
.body {
  margin: 30px;
}

.title {
  color: var(--Black, #2d2d2b);
  font-family: "GFS Didot";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  margin-bottom: 49px;
}

.img_text_and_btn_body {
  display: flex;
  justify-content: space-between;
  /* gap: 66px; */
  flex-wrap: wrap;
}

.img_body {
  width: 50%;
}

.text_btn_body {
  margin-top: 20px;
  margin-right: 50px;
  max-width: 563px;
}

.txt1,
.txt2 {
  font-family: "Raleway";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.txt1 {
  margin-bottom: 13px;
}

.txt2 {
  margin-bottom: 60px;
}
