@import url("https://fonts.googleapis.com/css2?family=GFS+Didot&family=Nova+Square&family=Raleway&family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nova+Square&family=Raleway&family=Rubik&display=swap");

.mian_body {
  position: relative;
  max-width: 330px;
}

.link {
  text-decoration: none;
  color: #2d2d2b;
}

.mainImage_likeImage_body {
  max-width: 330px;
  max-height: 300px;
  text-align: right;
}

.main_image_body {
  height: 267px;
  border-radius: 10px;
  overflow: hidden;
}

.like_button {
  position: absolute;
  top: 15px;
  right: 15px;
  margin-right: 1px;
  /* z-index: 1; */
  width: 46px;
  height: 38px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  width: 24px;
  height: 24px;
}

.text {
  text-align: left;
  font-family: "Raleway";
  font-size: 20px;
  font-style: normal;
  color: #2d2d2b;
  font-weight: 500;
  line-height: 28px;
  margin-right: 10px;
  margin-top: 22px;
  text-decoration: none;
  width: 330px;
  /* border: 2px solid red; */
}

.price {
  text-align: left;
  text-decoration: none;
  color: #b8926a;
  font-family: "Raleway";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  margin-top: 22px;
  margin-bottom: 44px;
  width: 330px;
}
