.navigation_title_body {
  margin-top: 70px;
  margin-bottom: 50px;
}

.navigation_title_body > ul {
  display: flex;
  /* gap: 30px; */
  font-family: "Raleway";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.navigation_title_body > ul > li:first-child {
  padding-right: 20px;
  color: #8b8985;
}

.navigation_title_body > ul > li:nth-child(2) {
  padding-right: 20px;
  padding-left: 20px;
  border-left: 1px solid #8b8985;
}

.title {
  color: #2d2d2b;
  font-family: "Didot";
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  margin-bottom: 50px;
}

.info_text {
  color: #2d2d2b;
  font-family: "Raleway";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 50px;
}

.serachPage_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(20rem, 100%), 1fr));
}

.serach_result_zero {
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.serach_result_zero > p {
  color: #2d2d2b;
  font-family: "Raleway";
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
