.body {
  margin-top: 193px;
  /* margin-left: 30px;
      margin-right: 136px; */
}

.title {
  margin-bottom: 50px;
  font-family: "Didot";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
}
