.navigation_title_body {
  margin-top: 70px;
  margin-bottom: 50px;
}

.navigation_title_body > ul {
  display: flex;
  /* gap: 30px; */
  font-family: "Raleway";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.navigation_title_body > ul > li:first-child {
  padding-right: 20px;
  color: #8b8985;
}

.navigation_title_body > ul > li:nth-child(2) {
  padding-right: 20px;
  padding-left: 20px;
  border-left: 1px solid #8b8985;
}

.body > p {
  color: #2d2d2b;
  font-family: "Didot";
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  margin-bottom: 46px;
}

.text_body {
  max-width: 563px;
  margin-bottom: 44px;
}

.text_body > p {
  color: #2d2d2b;
  font-family: "Raleway";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.text_body_and_sortBtn_body {
  display: flex;
  justify-content: space-between;
}

.grid_container {
  display: grid;
  /* height: 100vh; */
  grid-template-columns: 0.3fr 1fr;
  /* grid-template-rows: 1.2fr 1.2fr; */
  grid-template-areas: "sidebar productsBody";
  gap: 10px;
}

.sidebar {
  /* background-color: red; */
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.productsBody {
  border-radius: 10px;
  /* background-color: aquamarine; */
  grid-area: productsBody;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(min(16rem, 100%), 1fr));
}

.sidebar > h2 {
  color: #b8926a;
  font-family: "Raleway";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 20px;
}

.list {
  display: flex;
  gap: 25px;
  margin-bottom: 25px;
}

.input {
  height: 20px;
  width: 20px;
  margin-right: 20px;
}

.input[type="checkbox"] {
  background: url("/public//main/products/checkOff.png") no-repeat;
}

.label {
  color: #2d2d2b;
  font-family: "Raleway";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.for_top {
  margin-top: 50px;
}
